# Phase 3 Verification

## Ansible 'Deploy North Star' Playbook for Phase 3

![phase_3_deploy_part_1](../../assets/Images/phase_3_deploy_part_1.png)
![phase_3_deploy_part_2](../../assets/Images/phase_3_deploy_part_2.png) 
![phase_3_deploy_part_3](../../assets/Images/phase_3_deploy_part_3.png)
![phase_3_deploy_part_4](../../assets/Images/phase_3_deploy_part_4.png)

## Spine and Router OSPF Neighbor

**Router 01**  
![router_01_ospf_neighbor](../../assets/Images/router_01_ospf_neighbor.png)

**Router 02**  
![router_02_ospf_neighbor](../../assets/Images/router_02_ospf_neighbor.png)

**Spine 01**  
![spine_01_ospf_neighbor](../../assets/Images/spine_01_ospf_neighbor.png)

**Spine 02**  
![spine_02_ospf_neighbor](../../assets/Images/spine_02_ospf_neighbor.png)

## Spine SVI Configuration

**Spine 01**  
![spine_01_SVI_config](../../assets/Images/spine_01_SVI_config.png)

**Spine 02**  
![spine_02_SVI_config](../../assets/Images/spine_02_SVI_config.png)

## Spine OSPF Database and Routes

**Spine 01**  
![spine_01_ospf_database_routes](../../assets/Images/spine_01_OSFP_database_routes.png)

**Spine 02**  
![spine_02_ospf_database_routes](../../assets/Images/spine_02_ospf_database_routes.png)

## Router-01 and Router-02 OSPF Routes

**Router 01**  
![router_01_ospf_routes](../../assets/Images/router_01_ospf_routes.png)

**Router 02**  
![router_02_ospf_routes](../../assets/Images/router_02_ospf_routes.png)
